# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/

# Entorno / secretos
.env
*.env
!.env.example

# Tests / cobertura
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Datos locales de Postgres (si lo corres fuera de Docker)
pgdata/
